*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
h2{
    text-align: center;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .button{
    padding: 50px 40px;
    color: white;
    /* border: none; */
    cursor: pointer;
    margin: 10px;
}
#grey{
    background-color: grey;
}
#blue{
    background-color: blue;
}
#white{
    background-color: white;
    color: black;
}

#yellow{
    background-color: yellow;
    color: black;
}
#red{
    background-color: red;
}